html,body{height:100%;overflow: hidden;}
.wrap{height:100%;}
/* 头部 */
.header{background-color: #000;height:34px;line-height: 34px;color:#fff;}
.headBank{float:left;padding-left:10px;width:30px;display: block;}
.headTitle{float:left;text-align: center;width:calc(100% - 80px);margin:0 auto;}
.headMore{float:right;padding-right:10px;width:30px;display: block;}

.myCanvas{/* background-color: rgba(0,0,0,0.2); */}



/* 画布区域 */
.canvasBox{height:calc(100% - 46px);position: relative;}
.textFont{border:dashed 1px #ccc;line-height: 16px;position: absolute;left:0;top:0;background-color: rgba(255,255,255,0.1); font-family: 'Arial'; font-size:14px;z-index: 88; height: 16px;width: 20px;padding:5px;outline: 0 none; overflow: hidden;}

/* 工具栏 */
.footer{position: relative;}
.tools{background-color: #f8f8f8;border-top: solid 1px #b4b4b4;line-height: 45px;height: 45px;}
.tools li{float:left;width:20%;text-align: center;cursor: pointer;}

/* 弹窗 */
.brushType{position: absolute;bottom:50px;width:calc(100% - 22px);border:solid 1px #f4f4f4;margin:5px 10px;border-radius: 3px;cursor: pointer;background-color: #fff;}
.brushType:before{   border-left: 8px solid transparent ;
    border-right: 8px solid transparent ;
    border-top: 8px solid #fff;
    display: inline-block;
    margin-left: -4px; content: "";position: absolute;display: block;left:50%;bottom: -8px}
#canvasBrush:before{left:29.5%;}
#brushColorBox:before{left:49.5%;}
#brushWeightBox:before{left:70%;}
.brushType li{float:left;width:16.6%;text-align: center;line-height: 30px;height:30px;}

/* 颜色 */
.brushColorBox{padding:0 2px;}
.brushColorBox li{width:20px;height: 20px;display: block;margin:5px 3px;text-indent: -999999px;}
.Cff0{background-color: #f00;}
.C000{background-color: #000;}
.Cf60{background-color: #f60;}
.C30f{background-color: #30f;}

/* 线条 */
.brushWeightBox ul {padding:14px 0 13px 0;}
.brushWeightBox li{width:20px;text-indent: -999999px;background-color: #000;  margin: 0px 5px;}
.brushWeightBox .weightOne{height:1px;}
.brushWeightBox .weightTwo{height:2px;}
.brushWeightBox .weightThere{height:3px;}