body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure { padding:0; margin:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; display:block; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight:normal; font-style:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
abbr, acronym { border:0; }
a { text-decoration:none; color:#4d4d4d; outline:none; }
a:link { color:#4d4d4d; }
a:visited { color:#4d4d4d; }
a:active { color:#f00; }
a:hover { color:#f18d23; }
.no{display:none;}
body { font-family:'\5FAE\8F6F\96C5\9ED1', "Arial Narrow", 'HELVETICA'; color:#b2b2b2; background-position:0 -595px; background-repeat:repeat-x; background-color:#f6f6f6; }
.header, .fR li, .br, .content_bg1, .content_bg2, .con_p1, .con_p2, .con_p3, .footer span { background-image:url(../images/bg.png); background-repeat:no-repeat; }
body, .header .fR, .footer { background-image:url(../images/bg1.png); }
.header { padding:140px 0 3px 0; background-position:0 -284px; width:960px; margin:0 auto; }
.header .fR { background-position:0 0; margin-left:55px; padding-left:350px; background-repeat:no-repeat; }
.fR li { background-position:-876px -43px; line-height:40px; padding-left:35px; margin-left:100px; }
.fR span { display:block; margin-top:30px; overflow:hidden; _zoom:1; }
.fR span a { float:left; margin-right:30px; }
.br { margin:0 auto 35px; width:960px; }
.content { width:958px; margin:0 auto; background:#fff; border-right:solid 1px #d4d4d4; border-left:solid 1px #d4d4d4; }
.content_bg1 { background-position:0 0; height:10px; width:960px; margin:0 auto; }
.content_bg2 { background-position:0 -15px; height:10px; width:960px; margin:0 auto 20px; }
.content_01 { padding:85px 30px 0 30px; width:898px; overflow:hidden; margin-bottom:70px; }
.content_01 p, .content_02 p { float:left; font-size:16px; }
.con_p1 { background-position:-606px -156px; margin:110px 10px 0 0; padding:30px 30px 0 0; }
.con_p2 { background-position:-418px -50px; width:220px; margin-top:85px; line-height:30px; padding-bottom:50px; }
.content_01 img, .content_02 img { float:left; }
.android_code{margin-left:60px;}
.iphone_code {margin: 30px 0 0 150px;}
.content_02 { margin:0 30px 20px 30px; padding-bottom:40px; width:898px; overflow:hidden;  }
.con_p3 { background-position:7px -130px; width:275px; margin:65px 0 0 10px; padding-left:85px; }
.data{margin:0 30px 20px 30px;border-bottom:solid 1px #ccc;width:898px; overflow:hidden; padding-bottom:40px;  }
.data p{line-height:30px;margin-bottom:20px;padding-left:10px;}
.data p strong{font-weight:bold;}
.data_c1{overflow:hidden;margin-top: 20px;}
.data_bg ul{border-bottom:solid 1px #ccc;overflow:hidden;_zoom:1;}
.data_bg li{float:left;width:150px;text-align:center;line-height:34px;cursor:pointer;}
.data ol{font-size:14px;line-height:30px;}
.data h2{margin-bottom:10px;}
.data_li1{background:url(../images/data_bg1.jpg) no-repeat;color:#418fa9;}
.data_li2{background:url(../images/date_bg2.jpg) no-repeat;}
.data_txtMt_01{margin-right:50px;}
.data_c1 ul{float:left;width:400px;}
.ISL_Cont_1 li,.ISL_Cont_1 li{float:left;}
.data_c1 li{float:left;}
.data_c1 ol li{float:none;}
.btn_left{margin:140px 15px 0 30px;cursor:pointer;_display:inline;}
.btn_right{margin:140px 0px 0 15px;cursor:pointer;_display:inline;}
.data_txt{float:left;margin-left:30px;line-height:36px;_display:inline;}
.data_c1 h2{color:#32b3cd;font-size:16px;}
.data_c1 ol{font-size:14px;}
.data_c2 .btn_left{margin:190px 30px 0 30px;cursor:pointer;_display:inline;}
.data_c2 .btn_right{margin:190px 0px 0 30px;cursor:pointer;_display:inline;}
.data_c2 ul{float:left;width:380px;}
.data_txtMt{margin-top:70px;}
.content_03 { margin:0 30px 20px 30px; padding-bottom:20px; width:898px; border-bottom:solid 1px #ccc; line-height:35px; }
.content_03 h2, .content_04 label,.data h2 { color:#999; font-weight:bold; }
.content_03 p { font-size:12px; }
.content_03 p span { font-size:14px; font-weight:bold; }
.content_03 p img { display:inline; margin-left:10px; }
.content_04 { padding:0 30px 20px 30px; width:898px; }
#jiathis_style_32x32 { margin-bottom:20px; overflow:hidden; _zoom:1; }
#jiathis_style_32x32 label { float:left; }
.content_04 input { width:630px; border:solid 1px #ccc; line-height:22px; color:#ccc; height:22px; padding-left:5px; }
.share { overflow:hidden; _zoom:1; }
.share label, .share input { float:left; }
#forLoadSwf { float:right; }
.footer { background-position:0 -424px; background-repeat:repeat-x; height:116px; text-align:center; color:#018aaa; line-height:26px; font-family:'宋体', "Arial Narrow", 'HELVETICA'; font-size:12px; padding:30px 0 20px 0; width:100%; clear:both; }
.footer span { background-position:0 -42px; color:#7c7c7c; display:block; height:51px; line-height:14px; margin:0 auto; padding:13px 0 0 37px; width:161px; }
.footer span code { font-size:16px; font-weight:normal; }
@media(max-width:500px) {
	.header{padding-top:14px;width:100%;}
	.header .fR{background:none;margin-left:0;padding-left: 0px;}
	.fR img{width:94%;margin:0 3%;}
	.content{ border: 1px solid #ccc; -webkit-border-radius:5px;margin-bottom:10px;}
	.content_01 img, .content_02 img,.con_p2,.con_p3{width:100%;}
	.content_bg1,.content_bg2,.br{display:none;}
	.fR span{margin-top:10px;}
	.br{margin-bottom:0;}
	.fR li{margin-left:15%;}
	.data{width:90%;margin:0 5%;}
	.data_txt{margin-left:0;}
	.content_01 .android_code,.content_02 .iphone_code{width:60%;margin:20px 0 0 60px;}
	.data_txt,.data_c1 ul{float:none;}
	.data_c1 ul{width:100%;overflow:hidden;margin-top:10px;}
	.macos_01{width:80%;}
	.macos_01 img{width:100%;}
	.data_bg li{float:left;width:30%;text-align:center;line-height:34px;cursor:pointer;}
.data_li1{background: -webkit-linear-gradient(top, #e9fbff, #b0dbe6);color:#418fa9; border-radius:5px 5px 0 0;border:solid 1px #b3dce7;}
.data_li2{background: -webkit-linear-gradient(top, #fafcfc, #e6e6e6);border-radius:5px 5px 0 0;border:solid 1px #e2e3e3;}
.btn_left{margin:140px 5px 0 0;}
.btn_right{margin:140px 0px 0 20px;}
.data_txtMt{margin-top:0;}
.data_c2 .btn_left{margin:190px 5px 0 0px;}
.data_c2 .btn_right{margin:190px 0px 0 20px;}
.ios{width:80%;margin-top:10px;}
.ios img{width:100%;}

	.content_01 img,.content_02 img{margin:5% 0;}
	.content,.content_04 input{width:100%;-webkit-box-sizing: border-box ;}
	.content_01 p, .content_02 p{display:block;padding:0;margin:0;}
	.content_01,.content_02,.content_03,.content_04{width:90%;}
	.share label, .share input, #jiathis_style_32x32 label {display:block;width:100%;margin-bottom:10px;}
	#forLoadSwf,.share input{ display:block;margin-top:10px;}
	.fR span a {margin-left: 10px;margin-right:0;width:28%;float:left;display:block;}
	.fR span a img{width:100%;}
	.content_01,.content_04{padding:5%;margin-bottom:20px;}
	.content_02,.content_03{margin:5%;}
	.con_p1,.con_p2,.con_p3{background:none;}
							
}
