body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, tbody, tfoot, thead, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
table { border-spacing:0; border-collapse:collapse; }
fieldset, img { border:0; vertical-align:top; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight:normal; font-style:normal; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
abbr, acronym { border:0; }
a { color:#595959; text-decoration:none; cursor:pointer; }
/* wp */
.wp { overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
/* display */
.hide { display:none; }
/* textarea */
textarea{ resize: vertical; overflow-y:auto; outline: 0 none; }
/* clear */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clear { clear:both; overflow:hidden; height:0px; font-size:0; }

/* 去除获取焦点阴影、长按浏览器默认复制粘贴 */
a{ -webkit-touch-callout: none; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);outline: 0 none; }

input{outline: 0 none;font-family: Microsoft YaHei, Arial, SimSun; }
body{font-family: Microsoft YaHei, Arial, SimSun; }
/*
* 建议以上做html5公用头部 (后期可能会慢慢完善)
*/
html{overflow: hidden;width:100%;}
body{height:100%;overflow: hidden;width:100%;}

.c1Info i,.c1Info .title,.c2Left li,.c2Info i,.c3Info i,.c4Info i{display: block;position: absolute;background-repeat: no-repeat;text-indent: -999999px;}
/* 内容1 */
.content1{background: url(../Images/content1/bg.jpg) no-repeat center top #29417c;height:100%;position: relative;}
.logo{width:1000px;margin:0 auto;display: block;padding-top: 25px;}
.c1Info{position: absolute;top:50%;left:50%;width:600px;height:620px;margin:-330px 0 0 -300px;}

.c1Info .bg{background-image: url(../Images/bg1.png);width:499px;height:560px;left:50px;}
.c1Info .bg1{background-image: url(../Images/content1/people.png);height:443px;width: 443px;left:80px;top:40px;}
.c1Info .free{background-image: url(../Images/content1/free.png);height:146px;width: 146px;left:80px;top:300px;}
.c1Info .play{background-image: url(../Images/content1/game.png);height:99px;width: 99px;left:430px;top:340px;}
.c1Info .title{background-image: url(../Images/content1/title.png);height:29px;width: 586px;top:620px;}
.regBtn{width:211px;display: block;height:60px;line-height: 60px;color:#fff;font-size: 22px;top: 520px;position: absolute;border-radius: 3px;
   left:50%;margin-left: -135px; background: url(../Images/content1/head.png) no-repeat 30px 18px #00d386;padding-left: 65px;}
.regBtn:hover{background-color: #02c27c;}
.regBtn:active{background-color: #01ab6d;}

.c1Info .bg1{opacity:0; transform: scale3d(5,5,1); transition: all 0.3s ease 0.3s; }
.c1Info .free{opacity:0; transform: translate3d(-400px, 300px,0); transition: all 0.1s ease 0.6s;}
.c1Info .play{opacity:0; transform: translate3d(200px, 0px,0); transition: all 0.3s ease 0.6s;}
.c1Info .title{opacity:0; transform: translate3d(0px, 660px,0); transition: all 0.3s ease 0.7s;}
.regBtn{opacity:0; transform: translate3d(0px, 660px,0); transition: all 0.3s ease 0.7s;}

.current .c1Info .bg1{opacity:1; transform: scale3d(1,1,1); }
.current .c1Info .free{opacity:1; transform: translate3d(0px, 0px,0);}
.current .c1Info .play{opacity:1; transform: translate3d(0px, 0px,0);}
.current .c1Info .title{opacity:1; transform: translate3d(0px, 0px,0);}
.current .regBtn{opacity:1; transform: translate3d(0px, 0px,0);}


/* 内容2 */
.content2{background: url(../Images/content2/bg.jpg) no-repeat center top #1a6e5f;height:100%;position: relative;}
.c2Info{width:1000px;position: absolute;left:50%;top:50%;margin:-280px 0 0 -500px;}
.c2Info .c2Left{float:left;width:495px;position: relative;}
.c2Left .bg{background-image: url(../Images/content2/bg1.png);width:499px;height:560px;}
.c2Left .bg1{background-image: url(../Images/content2/bg2.png);width:426px;height:426px;top:50px;left:35px;}
.c2Left .free{background-image: url(../Images/content2/free.png);width:92px;height:92px;top:80px;left:35px;}
.c2Left .free1{background-image: url(../Images/content2/pic1.png);width:92px;height:92px;top:80px;left:365px;}
.c2Left .free2{background-image: url(../Images/content2/pic2.png);width:106px;height:106px;top:280px;left:405px;}
.c2Left .free3{background-image: url(../Images/content2/pic3.png);width:110px;height:110px;top:310px;left:55px;}
.c2Left .free4{background-image: url(../Images/content2/pic4.png);width:92px;height:92px;top:410px;left:285px;}
.c2Info .c2Right{background: url(../Images/content2/title.png) no-repeat;width:317px;height:194px;float:right;text-indent: -999999px;margin-top: 160px;margin-right: 30px;}

.c2Info .c2Left{opacity:0; transform: translate3d(-200px, 0,0); transition: all 0.2s ease 0.2s;}
.c2Info .c2Right{opacity:0; transform: translate3d(200px, 0,0); transition: all 0.2s ease 0.3s;}
.c2Left .free,.c2Left .free1,.c2Left .free2,.c2Left .free3,.c2Left .free4{opacity:0; transform: scale3d(4,4,1);; transition: all 0.2s ease 0.5s;}
.current .c2Info .c2Left,.current .c2Info .c2Right{opacity:1; transform: translate3d(0px, 0px,0);}
.current .c2Left .free,.current .c2Left .free1,.current .c2Left .free2,.current .c2Left .free3,.current .c2Left .free4{opacity:1; transform: scale3d(1,1,1);}

/* 内容3 */
.content3{background-color:  #075566;height:100%;position: relative;}
.c3Info{width:1000px;position: absolute;left:50%;top:50%;margin:-280px 0 0 -500px;}
.c3Left{width:345px;height: 195px;background: url(../Images/content3/title.png) no-repeat;text-indent: -999999px;margin-top: 185px;float:left;}
.c3Right{float:left;margin-left: 80px;position: relative;}
.c3Right .bg{background-image: url(../Images/bg1.png);width:499px;height:560px;}
.c3Right .people{background-image: url(../Images/content3/people.png);width:437px;height:437px;position: absolute;top:63px;left:35px;}
.c3Right .play{background-image: url(../Images/content3/play.png);width:83px;height:83px;position: absolute;top:350px;left:360px;}
.c3Right .yun{background-image: url(../Images/content3/yun.png);width:73px;height:31px;position: absolute;top:440px;left:480px;}
.c3Right .yun1{background-image: url(../Images/content3/yun1.png);width:132px;height:47px;position: absolute;top:480px;left:-100px;}

.c3Info .c3Left{opacity:0; transform: translate3d(-200px, 0,0); transition: all 0.2s ease 0.2s;}
.c3Info .c3Right{opacity:0; transform: translate3d(200px, 0,0); transition: all 0.2s ease 0.3s;}
.c3Right .play{opacity:0; transform: translate3d(200px, 0,0); transition: all 0.2s ease 0.4s;}
.c3Right .yun{opacity:0; transform: translate3d(50px, 0,0); }
.c3Right .yun1{opacity:0; transform: translate3d(-50px, 0,0); }
.current .c3Info .c3Left,.current .c3Info .c3Right,.current .c3Right .play{opacity:1; transform: translate3d(0, 0,0); }
.current .c3Right .yun,.current .c3Right .yun1{opacity:1;transform: translate3d(0, 0,0); transition: all 3s ease 0.4s;}

/* 内容4 */
.content4{background: url(../Images/content4/bg.jpg) no-repeat center top #202a51;height:100%;position: relative;}
.c4Info {width:1000px;position: absolute;left:50%;top:50%;margin:-280px 0 0 -500px;}
.c4Info .c4Left{float:left;width:560px;}
.c4Left .bg{background-image: url(../Images/bg1.png);width:499px;height:560px;}
.c4Left .bg1{background-image: url(../Images/content4/bg1.png);width:437px;height:437px;position: absolute;top:63px;left:30px;}
.c4Left .people{background-image: url(../Images/content4/people.png);width:437px;height:437px;position: absolute;top:120px;left:350px;}
.c4Left .icon1{background-image: url(../Images/content4/item1.png);width:78px;height:78px;position: absolute;top:383px;left:60px;}
.c4Left .icon2{background-image: url(../Images/content4/item2.png);width:74px;height:74px;position: absolute;top:430px;left:290px;}
.c4Left .icon3{background-image: url(../Images/content4/item3.png);width:69px;height:69px;position: absolute;top:243px;left:0px;}
.c4Info .c4Right{float:right;background: url(../Images/content4/title.png) no-repeat;width:398px;height:206px;margin-top: 160px;}
.c4RegBtn{width:126px;display: block;height:38px;line-height: 38px;color:#fff;font-size: 18px;position: absolute;border-radius: 3px;background-color: #00d386;text-align: center;margin:170px 0 0 30px;}
.c4RegBtn:hover{background-color: #02c27c;}
.c4RegBtn:active{background-color: #01ab6d;}

.c4Info .c4Left{opacity:0; transform: translate3d(-200px, 0,0); transition: all 0.2s ease 0.2s;}
.c4Info .c4Right{opacity:0; transform: translate3d(200px, 0,0); transition: all 0.2s ease 0.3s;}
.c4Left .people{opacity:0; transform: translate3d(200px, 0,0); transition: all 0.2s ease 0.4s;}
.c4Left .icon3{opacity:0; transform: scale3d(4,4,1); transition: all 0.2s ease 0.6s;}
.c4Left .icon1{opacity:0; transform: scale3d(4,4,1); transition: all 0.2s ease 0.7s;}
.c4Left .icon2{opacity:0; transform: scale3d(4,4,1); transition: all 0.2s ease 0.8s;}
.c4Info .play{opacity:0; transform: translate3d(200px, 0,0); transition: all 0.2s ease 0.4s;}

.current .c4Info .c4Left,.current .c4Info .c4Right,.current .c4Left .people{opacity:1; transform: translate3d(0, 0,0); }
.current .c4Left .icon1,.current .c4Left .icon2,.current .c4Left .icon3{opacity:1; transform: scale3d(1,1,1);}

/* 页脚 */
.footer{position: absolute;line-height: 50px;color:#69739b;text-align: center;bottom: 0;font-size: 14px;margin-left:-240px;left:50%;}
.footer p{float:left;}
.footer img{float:left;margin:13px;}

/* 滚屏序号 */
.orderPage{position: fixed;right:45px;top:250px;}
.orderPage li{width:10px;height: 10px;border-radius: 10px;background-color: #6a7aa4;margin:9px 0;text-indent: -999999px;cursor: pointer;}
.orderPage li.current{border:solid 2px #00d386;position: relative;left:-2px;background-color: rgba(0,0,0,0);background-color:}

/* 下一屏按钮 */
.nextPage{cursor: pointer;background: url(../Images/next.png) no-repeat;width:27px;height:21px;display: block;position: fixed;bottom: 10px;text-indent: -999999px;left:50%;margin-left:-13px;}
.nextPage{-moz-animation:titleShow 1.5s linear 0s infinite;-webkit-animation:titleShow 1.5s linear 0s infinite;-ms-animation:titleShow 1.5s linear 0s infinite;animation:titleShow 1.5s linear 0s infinite;}
@-moz-keyframes titleShow {
    0%{opacity: 0.5;transform: translate(0px, -5px);}
    75%{opacity: 1;transform: translate(0px, 0px);}
    100%{opacity: 0.5;transform: translate(0px, -5px);}
}
@-webkit-keyframes titleShow {
     0%{opacity: 0.5;transform: translate(0px, -5px);}
    75%{opacity: 1;transform: translate(0px, 0px);}
    100%{opacity: 0.5;transform: translate(0px, -5px);}
}
@-ms-keyframes titleShow {
    0%{opacity: 0.5;transform: translate(0px, -5px);}
    75%{opacity: 1;transform: translate(0px, 0px);}
    100%{opacity: 0.5;transform: translate(0px, -5px);}
}
@keyframes titleShow {
    0%{opacity: 0.5;transform: translate(0px, -5px);}
    75%{opacity: 1;transform: translate(0px, 0px);}
    100%{opacity: 0.5;transform: translate(0px, -5px);}
}