html[data-dpr="1"] body {
  font-size: 14px; }

html[data-dpr="2"] body {
  font-size: 14px; }

html[data-dpr="3"] body {
  font-size: 14px; }

html[data-dpr="4"] body {
  font-size: 14px; }

html[data-dpr="5"] body {
  font-size: 14px; }

.index {
  position: relative; }

.index .gotoTop {
  background-image: url(../Images/1x/goTop1.png);
  background-image: -webkit-image-set(url(../Images/1x/goTop1.png) 1x, url(../Images/2x/goTop1.png) 2x, url(../Images/3x/goTop1.png) 3x, url(../Images/3x/goTop1.png) 4x);
  background-image: image-set(url(../Images/1x/goTop1.png) 1x, url(../Images/1x/goTop1.png) 2x, url(../Images/3x/goTop1.png) 3x, url(../Images/3x/goTop1.png) 4x);
  background-repeat: no-repeat;
  background-size: contain; }

.searchTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  width: 9.25926rem;
  background: -webkit-linear-gradient(top, #ede9e8 0, #fffafa 100%); }

body {
  background-color: #fffafa;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif;    */
  color: #000;
  position: relative;
  height: 100%; }

.swiper-container {
  background: -webkit-linear-gradient(top, #ffffff 0%, #ede9e8 50%, #fff 100%);
  width: 10rem;
  margin-top: 2.96296rem;
  padding-top: 0.46296rem;
  transition: all 0.5s ease 0s; }

.swiper-slide {
  background-position: center;
  width: 2.22222rem;
  text-align: center;
  line-height: 0.62963rem;
  font-size: 0.33333rem;
  color: #807675;
  line-height: 1.11111rem; }

.swiper-container .swiper-slide.swiper-slide-active {
  font-size: 0.46296rem;
  color: #625753; }

.swiper-container .swiper-slide.swiper-slide-active img {
  border: solid 2px #fb928c;
  border-radius: 0.16667rem;
  box-shadow: 0 5px 5px #ccc;
  opacity: 1; }

.swiper-slide img {
  width: 2.22222rem;
  opacity: 0.5;
  border-radius: 0.27778rem;
  box-shadow: 0 3px 3px #ccc; }

.swiper-container1 {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.swiper-container1 .swiper-slide {
  line-height: 0.92593rem;
  text-align: center;
  font-size: 0.37037rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-container1 .swiper-slide.swiper-slide-active {
  color: #ff5c65;
  font-size: 0.44444rem; }

.swiper-container2 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.swiper-container2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.itemList {
  width: 100%;
  text-align: center; }

.itemList .item {
  position: relative; }

.itemList img {
  width: 100%;
  height: 4.25926rem; }

.swiper-container1 .swiper-slide {
  position: relative;
  background-color: #f5efed; }

.swiper-container1 .swiper-slide.current {
  color: #fe5e5e; }

.item {
  line-height: 0.59259rem; }

.itemTitle {
  color: #605654;
  font-size: 14px;
  margin-top: 0.2037rem; }

.itemIcon {
  color: #605654;
  font-size: 12px;
  margin-bottom: 0.2037rem;
  display: inline-block;
  position: relative;
  padding-left: 0.38889rem; }

.itemIcon:after {
  width: 0.32407rem;
  height: 0.25rem;
  background-image: url(../Images/1x/praiseIcon.png);
  background-image: -webkit-image-set(url(../Images/1x/praiseIcon.png) 1x, url(../Images/2x/praiseIcon.png) 2x, url(../Images/3x/praiseIcon.png) 3x, url(../Images/3x/praiseIcon.png) 4x);
  background-image: image-set(url(../Images/1x/praiseIcon.png) 1x, url(../Images/1x/praiseIcon.png) 2x, url(../Images/3x/praiseIcon.png) 3x, url(../Images/3x/praiseIcon.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  position: absolute;
  top: 0.18519rem;
  left: 0px; }

.loading {
  text-align: center;
  margin-top: 0.14815rem;
  color: #605654;
  font-size: 14px; }

.newTip {
  width: 1.2037rem;
  height: 0.78704rem;
  background-image: url(../Images/1x/new.png);
  background-image: -webkit-image-set(url(../Images/1x/new.png) 1x, url(../Images/2x/new.png) 2x, url(../Images/3x/new.png) 3x, url(../Images/3x/new.png) 4x);
  background-image: image-set(url(../Images/1x/new.png) 1x, url(../Images/1x/new.png) 2x, url(../Images/3x/new.png) 3x, url(../Images/3x/new.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -999999px; }

.swiper-container1 {
  position: relative; }

.swiper-container1 .current {
  height: 2px;
  background-color: #f00;
  width: 1rem;
  display: block;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  margin-left: -0.5rem;
  position: absolute; }

.downBtn {
  width: 2.59259rem;
  height: 1.11111rem;
  margin-left: 3.33333rem;
  background-image: url(../Images/1x/downBtn.png);
  background-image: -webkit-image-set(url(../Images/1x/downBtn.png) 1x, url(../Images/2x/downBtn.png) 2x, url(../Images/3x/downBtn.png) 3x, url(../Images/3x/downBtn.png) 4x);
  background-image: image-set(url(../Images/1x/downBtn.png) 1x, url(../Images/1x/downBtn.png) 2x, url(../Images/3x/downBtn.png) 3x, url(../Images/3x/downBtn.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: -999999px; }

.downBtn.hide {
  display: none; }

/* copyRight */
.searchPage .search {
  padding: 0 0;
  background: -webkit-linear-gradient(top, #ede9e8 0%, #fffafa 100%); }

.searchPage .search input {
  width: 6.48148rem; }

.head {
  background-color: #fe5e5e;
  border-bottom: solid 2px #e3223c;
  height: 1.31481rem;
  line-height: 1.31481rem; }

.homeIcon {
  float: left;
  margin-left: 0.38889rem;
  margin-right: 0.38889rem;
  background-image: url(../Images/1x/home.png);
  background-image: -webkit-image-set(url(../Images/1x/home.png) 1x, url(../Images/2x/home.png) 2x, url(../Images/3x/home.png) 3x, url(../Images/3x/home.png) 4x);
  background-image: image-set(url(../Images/1x/home.png) 1x, url(../Images/1x/home.png) 2x, url(../Images/3x/home.png) 3x, url(../Images/3x/home.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: -999999px;
  width: 0.71296rem;
  height: 0.64815rem;
  margin-top: 0.26852rem; }

.homeIcon.homeIconRed {
  background-image: url(../Images/1x/home.png);
  background-image: -webkit-image-set(url(../Images/1x/home.png) 1x, url(../Images/2x/home.png) 2x, url(../Images/3x/home.png) 3x, url(../Images/3x/home.png) 4x);
  background-image: image-set(url(../Images/1x/home.png) 1x, url(../Images/1x/home.png) 2x, url(../Images/3x/home.png) 3x, url(../Images/3x/home.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0.11111rem; }

.headTitle {
  float: left;
  text-align: center;
  color: #fff;
  width: 6.85185rem;
  font-size: 0.46296rem; }

.searchIcon {
  float: right;
  margin-left: 0.38889rem;
  margin-right: 0.38889rem;
  background-image: url(../Images/1x/searchBtnWhite.png);
  background-image: -webkit-image-set(url(../Images/1x/searchBtnWhite.png) 1x, url(../Images/2x/searchBtnWhite.png) 2x, url(../Images/3x/searchBtnWhite.png) 3x, url(../Images/3x/searchBtnWhite.png) 4x);
  background-image: image-set(url(../Images/1x/searchBtnWhite.png) 1x, url(../Images/1x/searchBtnWhite.png) 2x, url(../Images/3x/searchBtnWhite.png) 3x, url(../Images/3x/searchBtnWhite.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 0.61111rem;
  height: 0.62963rem;
  margin-top: 0.2963rem; }

.about {
  margin-top: 0.30556rem; }

.about li {
  float: left;
  width: 2.5rem;
  line-height: 0.75926rem;
  text-align: center;
  font-size: 0.37037rem; }

.about li.current {
  position: relative; }

.about li.current:after {
  border-bottom: solid 2px #fe5e5e;
  content: '';
  width: 1.2963rem;
  height: 0px;
  background-color: #fe5e5e;
  position: absolute;
  bottom: 0;
  left: 0.55556rem;
  display: block; }

.content {
  padding: 5% 4%;
  color: #373436;
  line-height: 0.55556rem;
  font-size: 0.35185rem; }

/* search */
.searchMain {
  min-height: 13.42593rem; }

.search {
  background-color: #f5efed;
  padding-top: 0.22222rem;
  padding-left: 0.27778rem;
  padding-right: 0.46296rem; }

.search.searchTop {
  background-image: url(../Images/1x/head_Bg.jpg);
  background-image: -webkit-image-set(url(../Images/1x/head_Bg.jpg) 1x, url(../Images/2x/head_Bg.jpg) 2x, url(../Images/3x/head_Bg.jpg) 3x, url(../Images/3x/head_Bg.jpg) 4x);
  background-image: image-set(url(../Images/1x/head_Bg.jpg) 1x, url(../Images/1x/head_Bg.jpg) 2x, url(../Images/3x/head_Bg.jpg) 3x, url(../Images/3x/head_Bg.jpg) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1.66667rem;
  background-color: #fe5e5e;
  height: 1.2963rem; }

.search input {
  line-height: 0.74074rem;
  height: 0.74074rem;
  border: solid 1px #bdbdbd;
  border-radius: 100px;
  outline: 0 none;
  background-color: #ede9e8;
  width: 7.68519rem;
  padding-left: 0.27778rem;
  padding-right: 0.27778rem;
  float: left; }

.searchBtn {
  width: 0.60185rem;
  height: 0.64815rem;
  margin-left: 0.27778rem;
  text-indent: -999999px;
  display: block;
  background-image: url(../Images/1x/searchBtnWhite.png);
  background-image: -webkit-image-set(url(../Images/1x/searchBtnWhite.png) 1x, url(../Images/2x/searchBtnWhite.png) 2x, url(../Images/3x/searchBtnWhite.png) 3x, url(../Images/3x/searchBtnWhite.png) 4x);
  background-image: image-set(url(../Images/1x/searchBtnWhite.png) 1x, url(../Images/1x/searchBtnWhite.png) 2x, url(../Images/3x/searchBtnWhite.png) 3x, url(../Images/3x/searchBtnWhite.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  margin-top: 0.11111rem; }

.searchPage .searchBtn {
  margin-right: 0.38889rem; }

.searchList {
  margin-top: 0.50926rem; }

.searchList li {
  float: left;
  background-color: #d3ecfa;
  font-size: 0.37037rem;
  height: 0.83333rem;
  line-height: 0.83333rem;
  margin-left: 0.30556rem;
  padding-left: 0.2037rem;
  padding-right: 0.2037rem;
  margin-top: 0.27778rem;
  border-radius: 5px; }

.searchList li.searchRed {
  background-color: #fcd2d3; }

.searchList li.searchRed a {
  color: #03153d; }

/* detail */
.detail {
  position: relative; }

.detail .head, .aboutPage .head, .searchPage .search {
  background-image: url(../Images/1x/head_Bg.jpg);
  background-image: -webkit-image-set(url(../Images/1x/head_Bg.jpg) 1x, url(../Images/2x/head_Bg.jpg) 2x, url(../Images/3x/head_Bg.jpg) 3x, url(../Images/3x/head_Bg.jpg) 4x);
  background-image: image-set(url(../Images/1x/head_Bg.jpg) 1x, url(../Images/1x/head_Bg.jpg) 2x, url(../Images/3x/head_Bg.jpg) 3x, url(../Images/3x/head_Bg.jpg) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1.66667rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fe5e5e;
  height: 1.2963rem; }

.headOpenBtn {
  height: 1rem;
  width: 2.90741rem;
  left: 1.2037rem;
  top: 0.27778rem;
  background-image: url(../Images/1x/share_open_btn.png);
  background-image: -webkit-image-set(url(../Images/1x/share_open_btn.png) 1x, url(../Images/2x/share_open_btn.png) 2x, url(../Images/3x/share_open_btn.png) 3x, url(../Images/3x/share_open_btn.png) 4x);
  background-image: image-set(url(../Images/1x/share_open_btn.png) 1x, url(../Images/1x/share_open_btn.png) 2x, url(../Images/3x/share_open_btn.png) 3x, url(../Images/3x/share_open_btn.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  z-index: 99;
  position: absolute;
  text-indent: -999999px; }

.headDownBtn {
  height: 1rem;
  width: 2.90741rem;
  right: 1.2037rem;
  top: 0.27778rem;
  background-image: url(../Images/1x/share_download_btn.png);
  background-image: -webkit-image-set(url(../Images/1x/share_download_btn.png) 1x, url(../Images/2x/share_download_btn.png) 2x, url(../Images/3x/share_download_btn.png) 3x, url(../Images/3x/share_download_btn.png) 4x);
  background-image: image-set(url(../Images/1x/share_download_btn.png) 1x, url(../Images/1x/share_download_btn.png) 2x, url(../Images/3x/share_download_btn.png) 3x, url(../Images/3x/share_download_btn.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  z-index: 99;
  position: absolute;
  text-indent: -999999px; }

.aboutPage .about {
  margin-top: 3.01852rem; }

.searchPage .searchMain {
  margin-top: 2.96296rem; }

.aboutPage .searchMain {
  margin-top: 1.37037rem; }

.backBtn {
  float: left;
  margin-left: 0.38889rem;
  margin-right: 0.38889rem;
  background-image: url(../Images/1x/back.png);
  background-image: -webkit-image-set(url(../Images/1x/back.png) 1x, url(../Images/2x/back.png) 2x, url(../Images/3x/back.png) 3x, url(../Images/3x/back.png) 4x);
  background-image: image-set(url(../Images/1x/back.png) 1x, url(../Images/1x/back.png) 2x, url(../Images/3x/back.png) 3x, url(../Images/3x/back.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: -999999px;
  width: 0.26852rem;
  height: 0.49074rem;
  margin-top: 0.43519rem; }

.detail .headTitle {
  text-align: left;
  width: 6.80556rem; }

.praiseBtn {
  float: left;
  margin-right: 0.40741rem;
  background-image: url(../Images/1x/praiseIcon01.png);
  background-image: -webkit-image-set(url(../Images/1x/praiseIcon01.png) 1x, url(../Images/2x/praiseIcon01.png) 2x, url(../Images/3x/praiseIcon01.png) 3x, url(../Images/3x/praiseIcon01.png) 4x);
  background-image: image-set(url(../Images/1x/praiseIcon01.png) 1x, url(../Images/1x/praiseIcon01.png) 2x, url(../Images/3x/praiseIcon01.png) 3x, url(../Images/3x/praiseIcon01.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: -999999px;
  width: 0.66667rem;
  height: 0.67593rem;
  margin-top: 0.31481rem; }

.shareBtn {
  float: left;
  margin-right: 0.33333rem;
  background-image: url(../Images/1x/share.png);
  background-image: -webkit-image-set(url(../Images/1x/share.png) 1x, url(../Images/2x/share.png) 2x, url(../Images/3x/share.png) 3x, url(../Images/3x/share.png) 4x);
  background-image: image-set(url(../Images/1x/share.png) 1x, url(../Images/1x/share.png) 2x, url(../Images/3x/share.png) 3x, url(../Images/3x/share.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  text-indent: -999999px;
  width: 0.74074rem;
  height: 0.64815rem;
  margin-top: 0.31481rem; }

.detailContent {
  line-height: 0.55556rem;
  font-size: 0.35185rem;
  color: #373436;
  text-indent: 2em;
  margin-left: 0.27778rem;
  margin-right: 0.27778rem;
  margin-top: 3.33333rem;
  margin-bottom: 0.27778rem; }

.detailImg {
  width: 100%;
  padding-left: 0.27778rem;
  padding-right: 0.27778rem;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.adBox {
  padding-top: 0.41667rem;
  padding-bottom: 0.41667rem;
  margin-left: 0.27778rem;
  margin-right: 0.27778rem;
  border-top: solid 1px #bdbdbd; }

.adBox img {
  width: 100%; }

.detailImgLeft {
  float: left;
  width: 50%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.themeImg {
  width: 100%;
  height: 8.22222rem; }

.detailImgRight {
  float: left;
  width: 50%;
  padding-left: 1%;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.detailImg p {
  line-height: 0.83333rem; }

.detailImg p b {
  line-height: 0.83333rem;
  font-weight: normal;
  color: #605654;
  font-size: 0.35185rem; }

.detailImg p span {
  float: right;
  color: #9e9695;
  font-size: 0.27778rem; }

.detailImg p span i {
  font-style: normal; }

.funImg {
  width: 100%;
  position: absolute;
  bottom: 2.31481rem;
  padding-left: 0.18519rem;
  padding-right: 0.18519rem;
  left: 0;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.funImgBtn {
  width: 0.89815rem;
  height: 0.89815rem;
  background-image: url(../Images/1x/showThemeIcon.png);
  background-image: -webkit-image-set(url(../Images/1x/showThemeIcon.png) 1x, url(../Images/2x/showThemeIcon.png) 2x, url(../Images/3x/showThemeIcon.png) 3x, url(../Images/3x/showThemeIcon.png) 4x);
  background-image: image-set(url(../Images/1x/showThemeIcon.png) 1x, url(../Images/1x/showThemeIcon.png) 2x, url(../Images/3x/showThemeIcon.png) 3x, url(../Images/3x/showThemeIcon.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

.detailImg li {
  float: left; }

.shareTheme a {
  background-image: url(../Images/1x/share01.png);
  background-image: -webkit-image-set(url(../Images/1x/share01.png) 1x, url(../Images/2x/share01.png) 2x, url(../Images/3x/share01.png) 3x, url(../Images/3x/share01.png) 4x);
  background-image: image-set(url(../Images/1x/share01.png) 1x, url(../Images/1x/share01.png) 2x, url(../Images/3x/share01.png) 3x, url(../Images/3x/share01.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.26852rem;
  height: 0.82407rem;
  display: block;
  text-indent: -999999px;
  margin-bottom: 0.34259rem; }

.shareDown a {
  background-image: url(../Images/1x/downBtn01.png);
  background-image: -webkit-image-set(url(../Images/1x/downBtn01.png) 1x, url(../Images/2x/downBtn01.png) 2x, url(../Images/3x/downBtn01.png) 3x, url(../Images/3x/downBtn01.png) 4x);
  background-image: image-set(url(../Images/1x/downBtn01.png) 1x, url(../Images/1x/downBtn01.png) 2x, url(../Images/3x/downBtn01.png) 3x, url(../Images/3x/downBtn01.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.26852rem;
  height: 0.82407rem;
  display: block;
  text-indent: -999999px;
  margin-bottom: 0.34259rem; }

.hlep a {
  background-image: url(../Images/1x/question.png);
  background-image: -webkit-image-set(url(../Images/1x/question.png) 1x, url(../Images/2x/question.png) 2x, url(../Images/3x/question.png) 3x, url(../Images/3x/question.png) 4x);
  background-image: image-set(url(../Images/1x/question.png) 1x, url(../Images/1x/question.png) 2x, url(../Images/3x/question.png) 3x, url(../Images/3x/question.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.02778rem;
  height: 0.82407rem;
  display: block;
  text-indent: -999999px;
  margin-bottom: 0.34259rem; }

.clickMore {
  background-image: url(../Images/1x/clickMore.png);
  background-image: -webkit-image-set(url(../Images/1x/clickMore.png) 1x, url(../Images/2x/clickMore.png) 2x, url(../Images/3x/clickMore.png) 3x, url(../Images/3x/clickMore.png) 4x);
  background-image: image-set(url(../Images/1x/clickMore.png) 1x, url(../Images/1x/clickMore.png) 2x, url(../Images/3x/clickMore.png) 3x, url(../Images/3x/clickMore.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  width: 9.43519rem;
  height: 0.82407rem;
  display: block;
  text-indent: -999999px;
  margin: 0 auto; }

/* inputSkin */
.inputSkin {
  width: 100%;
  padding-left: 0.27778rem;
  padding-right: 0.27778rem;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.inputSkin h6 {
  line-height: 0.87037rem;
  color: #605654;
  font-size: 0.35185rem;
  border-top: solid 1px #d6d1d1; }

.inputSkin img {
  width: 100%; }

.inputSkin ul {
  margin-top: 0.38889rem;
  border-bottom: solid 1px #d6d1d1; }

.inputSkin li {
  float: right;
  line-height: 0.83333rem;
  color: #9e9695;
  font-size: 0.35185rem; }

.inputSkin li i {
  font-style: normal; }

.inputSkin li:first-child {
  float: left; }

.inputSkin h5 {
  line-height: 0.87037rem;
  color: #605654;
  font-size: 0.35185rem; }

.inputSkin h5 b {
  font-weight: normal;
  color: #fe5e5e; }

/* youHave */
.youHave {
  text-align: center;
  padding-left: 0.27778rem;
  padding-right: 0.27778rem;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.youHave h4 {
  color: #605654;
  line-height: 1.01852rem;
  font-size: 0.35185rem; }

.youHave img {
  width: 100%; }

.clickMore {
  display: block;
  line-height: 1.01852rem; }

.gotoHome {
  position: fixed;
  left: 0.33333rem;
  bottom: 3.75rem;
  width: 1.52778rem;
  height: 1.52778rem;
  display: block;
  background-image: url(../Images/1x/goHome.png);
  background-image: -webkit-image-set(url(../Images/1x/goHome.png) 1x, url(../Images/2x/goHome.png) 2x, url(../Images/3x/goHome.png) 3x, url(../Images/3x/goHome.png) 4x);
  background-image: image-set(url(../Images/1x/goHome.png) 1x, url(../Images/1x/goHome.png) 2x, url(../Images/3x/goHome.png) 3x, url(../Images/3x/goHome.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -999999px;
  z-index: 15; }

.gotoTop {
  position: fixed;
  right: 0.41667rem;
  bottom: 3.75rem;
  width: 0.97222rem;
  height: 0.97222rem;
  display: block;
  background-image: url(../Images/1x/goTop.png);
  background-image: -webkit-image-set(url(../Images/1x/goTop.png) 1x, url(../Images/2x/goTop.png) 2x, url(../Images/3x/goTop.png) 3x, url(../Images/3x/goTop.png) 4x);
  background-image: image-set(url(../Images/1x/goTop.png) 1x, url(../Images/1x/goTop.png) 2x, url(../Images/3x/goTop.png) 3x, url(../Images/3x/goTop.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -999999px;
  z-index: 15; }

.redPack {
  position: fixed;
  right: 0.41667rem;
  bottom: 5.37037rem;
  z-index: 15; }

.redPack img {
  width: 0.97222rem;
  height: 0.97222rem; }

/* footer */
.footer {
  margin-top: 0.35185rem; }

.footer li {
  float: left; }

.footer li a {
  color: #605654;
  border: solid 1px #ffb8b8;
  width: 1.87037rem;
  height: 0.61111rem;
  line-height: 0.61111rem;
  border-radius: 100px;
  font-size: 12px;
  background-color: #fcf2f0;
  display: block;
  text-align: center;
  margin-left: 0.40741rem; }

.footer p {
  font-size: 0.33333rem;
  text-align: center;
  color: #605654;
  line-height: 1.11111rem; }

/* pupBox */
.pupBox {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99; }

.downTip {
  width: 100%;
  background-image: url(../Images/1x/downBg.png);
  background-image: -webkit-image-set(url(../Images/1x/downBg.png) 1x, url(../Images/2x/downBg.png) 2x, url(../Images/3x/downBg.png) 3x, url(../Images/3x/downBg.png) 4x);
  background-image: image-set(url(../Images/1x/downBg.png) 1x, url(../Images/1x/downBg.png) 2x, url(../Images/3x/downBg.png) 3x, url(../Images/3x/downBg.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%; }

.wxTip {
  width: 100%;
  background-image: url(../Images/1x/wxBg.png);
  background-image: -webkit-image-set(url(../Images/1x/wxBg.png) 1x, url(../Images/2x/wxBg.png) 2x, url(../Images/3x/wxBg.png) 3x, url(../Images/3x/wxBg.png) 4x);
  background-image: image-set(url(../Images/1x/wxBg.png) 1x, url(../Images/1x/wxBg.png) 2x, url(../Images/3x/wxBg.png) 3x, url(../Images/3x/wxBg.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%; }

.pupBox1, .pupBox2 {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }

.pupBox1 .shareBox {
  top: 50%;
  margin-top: -3.24074rem; }

.shareBox.shareBoxTheme {
  position: relative;
  border-bottom: solid 1px #d6d1d1;
  height: 120px;
  z-index: 5; }

.shareBox.shareBoxTheme .jiathis_style_32x32 {
  margin-left: -0.37037rem; }

.shareBox.shareBoxTheme .jiathis_style_32x32 a {
  width: 1.94444rem;
  margin-left: -0.08333rem; }

.shareBox.shareBoxTheme .jiathis_style_32x32 .jtico {
  margin-left: 0.60185rem;
  margin-right: 0; }

.shareBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.87037rem;
  z-index: 9; }

.shareBox {
  text-align: center; }

.shareBox h5 {
  color: #605654;
  font-size: 16px;
  line-height: 40px; }

.shareBox .jiathis_style_32x32 a {
  display: block;
  width: 2rem;
  float: left;
  margin-left: 1.03704rem; }

.shareBox .jiathis_style_32x32 .jtico {
  padding-left: 0 !important;
  overflow: visible; }

.shareBox .jiathis_style_32x32 span {
  height: 80px !important;
  background-position: 0 0;
  position: relative;
  background: none; }

.shareBox .jiathis_style_32x32 span:after {
  width: 40px;
  height: 40px;
  display: block;
  content: '';
  margin: 0 auto;
  background-repeat: no-repeat;
  position: relative;
  top: 0; }

.shareBox .jiathis_style_32x32 .jiathis_button_weixin span:after {
  background-image: url(../Images/1x/share1.png);
  background-image: -webkit-image-set(url(../Images/1x/share1.png) 1x, url(../Images/2x/share1.png) 2x, url(../Images/3x/share1.png) 3x, url(../Images/3x/share1.png) 4x);
  background-image: image-set(url(../Images/1x/share1.png) 1x, url(../Images/1x/share1.png) 2x, url(../Images/3x/share1.png) 3x, url(../Images/3x/share1.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  left: 10px; }

.shareBox .jiathis_style_32x32 .jiathis_button_weixin1 span:after {
  background-image: url(../Images/1x/share2.png);
  background-image: -webkit-image-set(url(../Images/1x/share2.png) 1x, url(../Images/2x/share2.png) 2x, url(../Images/3x/share2.png) 3x, url(../Images/3x/share2.png) 4x);
  background-image: image-set(url(../Images/1x/share2.png) 1x, url(../Images/1x/share2.png) 2x, url(../Images/3x/share2.png) 3x, url(../Images/3x/share2.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  left: 5px; }

.shareBox .jiathis_style_32x32 .jiathis_button_tsina span:after {
  background-image: url(../Images/1x/share3.png);
  background-image: -webkit-image-set(url(../Images/1x/share3.png) 1x, url(../Images/2x/share3.png) 2x, url(../Images/3x/share3.png) 3x, url(../Images/3x/share3.png) 4x);
  background-image: image-set(url(../Images/1x/share3.png) 1x, url(../Images/1x/share3.png) 2x, url(../Images/3x/share3.png) 3x, url(../Images/3x/share3.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  left: 5px; }

.shareBox .jiathis_style_32x32 .jiathis_button_qzone span:after {
  background-image: url(../Images/1x/share4.png);
  background-image: -webkit-image-set(url(../Images/1x/share4.png) 1x, url(../Images/2x/share4.png) 2x, url(../Images/3x/share4.png) 3x, url(../Images/3x/share4.png) 4x);
  background-image: image-set(url(../Images/1x/share4.png) 1x, url(../Images/1x/share4.png) 2x, url(../Images/3x/share4.png) 3x, url(../Images/3x/share4.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  left: 5px; }

.shareBox .jiathis_style_32x32 .jiathis_button_cqq span:after {
  background-image: url(../Images/1x/share5.png);
  background-image: -webkit-image-set(url(../Images/1x/share5.png) 1x, url(../Images/2x/share5.png) 2x, url(../Images/3x/share5.png) 3x, url(../Images/3x/share5.png) 4x);
  background-image: image-set(url(../Images/1x/share5.png) 1x, url(../Images/1x/share5.png) 2x, url(../Images/3x/share5.png) 3x, url(../Images/3x/share5.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  left: 5px; }

.shareBox .jiathis_style_32x32 a i {
  display: block;
  font-style: normal;
  font-size: 12px;
  padding-top: 40px;
  width: 64px;
  line-height: 30px;
  position: absolute; }

.shareClose {
  width: 20px;
  height: 20px;
  background-image: url(../Images/1x/close.png);
  background-image: -webkit-image-set(url(../Images/1x/close.png) 1x, url(../Images/2x/close.png) 2x, url(../Images/3x/close.png) 3x, url(../Images/3x/close.png) 4x);
  background-image: image-set(url(../Images/1x/close.png) 1x, url(../Images/1x/close.png) 2x, url(../Images/3x/close.png) 3x, url(../Images/3x/close.png) 4x);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -99999px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -15px; }

.survey {
  text-align: center;
  clear: both;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5.09259rem;
  margin-left: -5rem;
  width: 100%; }

.survey h6 {
  color: #605654;
  font-size: 0.37037rem;
  line-height: 1.57407rem; }

.survey ul {
  width: 5rem;
  margin: 0 auto; }

.survey li {
  float: left;
  width: 1.66667rem;
  font-size: 0.33333rem;
  line-height: 0.74074rem;
  text-align: center;
  color: #605654; }

.survey li i {
  display: block;
  width: 0.99074rem;
  height: 0.75rem;
  margin: 0 auto;
  background-image: url(../Images/1x/heart.png);
  background-image: -webkit-image-set(url(../Images/1x/heart.png) 1x, url(../Images/2x/heart.png) 2x, url(../Images/3x/heart.png) 3x, url(../Images/3x/heart.png) 4x);
  background-image: image-set(url(../Images/1x/heart.png) 1x, url(../Images/1x/heart.png) 2x, url(../Images/3x/heart.png) 3x, url(../Images/3x/heart.png) 4x);
  background-repeat: no-repeat;
  background-size: contain; }

.survey li.current i {
  background-image: url(../Images/1x/heartRed.png);
  background-image: -webkit-image-set(url(../Images/1x/heartRed.png) 1x, url(../Images/2x/heartRed.png) 2x, url(../Images/3x/heartRed.png) 3x, url(../Images/3x/heartRed.png) 4x);
  background-image: image-set(url(../Images/1x/heartRed.png) 1x, url(../Images/1x/heartRed.png) 2x, url(../Images/3x/heartRed.png) 3x, url(../Images/3x/heartRed.png) 4x);
  background-repeat: no-repeat;
  background-size: contain; }

.survey h5 {
  color: #605654;
  font-size: 0.37037rem;
  line-height: 1.11111rem; }

.survey textarea {
  width: 8.7963rem;
  height: 2.40741rem;
  padding-left: 0.27778rem;
  padding-top: 0.27778rem;
  padding-bottom: 0.27778rem;
  color: #605654;
  padding-right: 0.27778rem;
  border: solid 1px #bfbfbf;
  line-height: 0.55556rem;
  margin-bottom: 0.27778rem; }

.survey a {
  display: block;
  background-color: #fe5e5e;
  color: #fff;
  width: 9.37037rem;
  height: 0.89815rem;
  margin: 0 auto;
  line-height: 0.89815rem; }

.pupBox2 .shareBox {
  width: 9.44444rem;
  padding-left: 0.27778rem;
  padding-right: 0.27778rem;
  height: 6.48148rem;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  margin-top: -2.59259rem; }

.pupBox2 .shareBox p {
  padding-top: 0.27778rem;
  color: #373436; }

.adDown {
  display: block;
  width: 9.44444rem;
  line-height: 1.11111rem;
  font-size: 0.5rem;
  margin-top: 0.27778rem;
  background-color: #ff5c5a;
  border-radius: 40px;
  color: #fff; }

.pupBox2 .shareBox img {
  width: 100%;
  display: block; }
