.banner{width:375px;overflow: hidden;margin-top: 50px;}
.banner ul{width:50000px;position: relative;height:300px;padding-top: 20px;}
.banner li.current{z-index: 199;left:200px;top:0;}
.banner li.current img{transform: perspective(1000px) rotateY(0deg);height:128px;width:83px; }
.banner li{float:left;position: absolute;top:0;left:0;transition: all 0.5s ease;top:4px;}
.banner li img{display: block;height:120px;width:90px;border-radius: 5px;border:solid 1px #f60;
  transform: perspective(1000px) rotateY(40deg);transition: all 0.5s ease;}


.nav li{float:left;width:20%;text-align: center;font-size: 14px;line-height: 33px;}

.item{width:100%;text-align: center;}
.item a{display: block;}
.item img{width:100%;}
.item p{font-size: 14px;line-height: 30px;color:#605654;}
.item .itemIcon{padding-left: 14px;color:#605654;font-size: 10px;padding-bottom: 9px;display: inline-block;} 