@charset "UTF-8";
/* 360为效果图分辨率 */
/* 效果图应对那种高清屏设计 */
/* 效果px转换为适应rem */
/* 手机高清屏获取不同像素图片 */
html[data-dpr="1"] body {
  font-size: 14px; }

html[data-dpr="2"] body {
  font-size: 14px; }

html[data-dpr="3"] body {
  font-size: 14px; }

html[data-dpr="4"] body {
  font-size: 14px; }

html[data-dpr="5"] body {
  font-size: 14px; }

.index {
  background-image: url(../Images/index_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 17.78667rem; }

.index ul {
  padding: 4.8rem 0.8rem 0;
  box-sizing: border-box; }

.index li {
  width: 50%;
  float: left;
  height: 3.33333rem;
  margin-bottom: 0.53333rem; }

.index li a {
  display: block;
  text-indent: -999999px;
  height: 100%; }

.subject {
  width: 100%;
  height: 17.78667rem; }

.subject .back {
  width: 2.46667rem;
  height: 0.88rem;
  padding: 1.46667rem 0 0 0.66667rem;
  display: block;
  text-indent: -999999px;
  /*background-color: #f60;*/ }

.subject ul {
  padding-top: 3.26667rem; }

.subject li {
  width: 50%;
  float: left;
  height: 2.17333rem;
  margin-bottom: 0.62667rem;
  padding: 0 0.53333rem;
  box-sizing: border-box; }

.subject li a {
  display: block;
  text-indent: -999999px;
  height: 100%;
  /*background-color: #f60;*/ }

.math {
  background-image: url(../Images/math_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.read {
  background-image: url(../Images/read_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.subject.read ul {
  padding-top: 3.13333rem; }

.subject.read li {
  height: 2.4rem;
  margin-bottom: 0.41333rem; }

.work {
  background-image: url(../Images/work_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.subject.work ul {
  padding-top: 3.53333rem; }

.subject.work li {
  height: 2.8rem;
  margin-bottom: 1rem; }

.theme {
  background-image: url(../Images/theme_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.subject.theme ul {
  padding-top: 3.17333rem; }

.subject.theme li {
  height: 3.16rem;
  margin-bottom: 0.50667rem; }

.english {
  background-image: url(../Images/english_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.subject.english ul {
  padding-top: 3.26667rem; }

.subject.english li {
  height: 2.2rem;
  margin-bottom: 0.64rem; }

.list .back {
  width: 2.46667rem;
  height: 0.88rem;
  padding: 1.46667rem 0 0 0.66667rem;
  display: block;
  text-indent: -999999px;
  /*background-color: #ff0;*/ }

.list h1 {
  font-size: 0.64rem;
  line-height: 1.46667rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.4rem; }

.list ul {
  height: 12.4rem;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.list li {
  box-sizing: border-box;
  padding: 0 0.8rem;
  margin-bottom: 0.8rem; }

.list li:last-child {
  margin-bottom: 0rem; }

.list li a {
  height: 1.06667rem;
  line-height: 1.06667rem;
  background-color: #fff;
  border-radius: 2rem;
  display: block;
  text-align: center;
  color: #8b4600;
  font-size: 0.53333rem; }

.theme_list {
  width: 100%;
  height: 17.78667rem;
  background-image: url(../Images/theme_list_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.read_list {
  width: 100%;
  height: 17.78667rem;
  background-image: url(../Images/read_list_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.math_list {
  width: 100%;
  height: 17.78667rem;
  background-image: url(../Images/math_list_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.english_list {
  width: 100%;
  height: 17.78667rem;
  background-image: url(../Images/english_list_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.work_list {
  width: 100%;
  height: 17.78667rem;
  background-image: url(../Images/english_list_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

.list.theme_list ul {
  height: 10.66667rem; }

.list.work_list h1 {
  color: #8b4600; }

.list.english_list h1 {
  color: #8b4600; }

.detail img {
  width: 100%; }

.back_box {
  width: 100%;
  z-index: 99;
  padding: 20px 0;
  background-color: #fff; }

.back_box a {
  width: 40%;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  margin-left: 6.6%;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 1px #8b4600;
  color: #8b4600;
  border-radius: 200px;
  font-size: 16px;
  text-align: center; }
