body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, tbody, tfoot, thead, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
table { border-spacing:0; border-collapse:collapse; }
fieldset, img { border:0; vertical-align:top; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight:normal; font-style:normal; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
abbr, acronym { border:0; }
a { color:#595959; text-decoration:none; cursor:pointer; }
/* wp */
.wp { overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
/* display */
.hide { display:none; }
/* textarea */
textarea{ resize: vertical; overflow-y:auto; outline: 0 none; }
/* clear */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clear { clear:both; overflow:hidden; height:0px; font-size:0; }

.left{ float:left;}
.right{float:right;}

.ellipsis{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
/*
* 建议以上做html5公用头部 (后期可能会慢慢完善)
*/
 

body { font: 12px/1.5 'Microsoft YaHei', 'Verdana', 'Geneva', 'sans-serif'; }

/** 自定义滚动条 **/
/* 滚动条 */
.picList{height: calc(100% - 37px);overflow-y:auto; }
.picList::-webkit-scrollbar { width: 9px; border-radius: 10px;}
/* 轨道样式 */
.picList::-webkit-scrollbar-track { background-color: #dddada; }
/* Handle样式 */
.picList::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background-color: #9c9c9c; }
/*hover到滚动条上*/
.picList::-webkit-scrollbar-thumb:vertical:hover{ background-color: #818080; }
/*滚动条按下*/
.picList::-webkit-scrollbar-thumb:vertical:active{ background-color: #5e5d5d; } 

