.smashEggWrap{cursor: none;position: relative;height: 200px;}
.smashEggBox{padding-top: 25px;width:800px;z-index: 8;position: absolute;overflow: hidden;}
.smashEggBox li{float:left;position: relative;width:98px;height:133px;margin-left:100px;}
.smashEggBody{background:url(../Images/egg01.png) no-repeat;display: block;width:98px;height:133px;position: absolute;z-index: 97;text-indent: -999999px;bottom: 0;left:0;}
.eggHasPrize .smashEggBody,.eggNoPrize .smashEggBody{background:url(../Images/egg02.png) no-repeat;}
.smashEggFlower{background:url(../Images/egg04.png) no-repeat;width:151px;height:118px;position: absolute;z-index: 98;bottom:36px;left:-23px;text-indent: -999999px;}
.smashEggFlower{transform:scale(0.1);transform-origin:center bottom; opacity: 0;}
.eggHasPrize .smashEggFlower{transform:scale(1); opacity: 1;transition:all 0.5s ease 0.2s;}
.smashEggPack{background:url(../Images/egg05.png) no-repeat;width:44px;height:44px;position: absolute;z-index: 99;bottom:36px;left:32px;text-indent: -999999px;}
.smashEggPack{transform-origin:center center; opacity: 0;}
.eggHasPrize .smashEggPack{opacity: 1;transform:translate(0px,-40px); opacity: 1;transition:all 0.5s ease 0.5s;}
.smashEggBroken{background:url(../Images/egg03.png) no-repeat;width:84px;height:53px;position: absolute;z-index: 99;bottom:155px;left:12px;text-indent: -999999px;}
.smashEggWrap .evtEgg{z-index: 98;}
.smashEggBroken{transform-origin:center bottom; transform:rotate(-162deg);opacity: 0;}
.eggHasPrize .smashEggBroken,.eggNoPrize .smashEggBroken{bottom:0;left:92px;transform:rotate(0deg);opacity: 1;transition:all 0.5s ease 0.2s;}
.smashEggHammer{background:url(../Images/egg06.png) no-repeat;display: none;width:133px;height:111px;position: absolute;z-index: 99;top:0px;left:32px;cursor: none;text-indent: -999999px; }
.smashEggHammerClick{transform-origin:right bottom;animation:Hammer 0.1s;}
@-moz-keyframes Hammer {
   0%{transform:rotate(60deg);}
   100%{transform:rotate(0deg);}
}
@-webkit-keyframes Hammer {
   0%{transform:rotate(60deg);}
   100%{transform:rotate(0deg);}
}
@-ms-keyframes Hammer {
   0%{transform:rotate(60deg);}
   100%{transform:rotate(0deg);}
}
@-o-keyframes Hammer {
   0%{transform:rotate(60deg);}
   100%{transform:rotate(0deg);}
}