.scroll{margin:0 auto;width:870px;overflow:hidden;}
.scroll-main{width:800px;overflow:hidden;float:left;}
.scroll-prev, .scroll-next {background-image: url("../images/btn.jpg");background-repeat: no-repeat;cursor: pointer;display: block;float: left;height: 100px;
 text-indent: -999999px;width: 30px;}
.scroll-prev{float:left;background-position:-30px 0;}
.scroll-prev:hover{background-position:0 0;}
.scroll-box{overflow:hidden;width:90000px;}
.scroll-li{float:left;width:150px;text-align:center;margin-left:10px;}
.main-play-img{width:144px;height:94px;border:solid 3px #eee;}
.main-play-img:hover{border:solid 3px #4373A9;}
.scroll-link{display:block;line-height: 24px;}
.scroll-next{float:left;background-position:-60px 0;margin-left: 10px;}
.scroll-next:hover{background-position:-90px 0;}
.currentBtn{clear:both;overflow: hidden;width:80px;margin:10px auto;padding:10px;}
.currentBtn li{width:10px;height:10px;background-color: #ccc;text-indent: -999999px;float:left;margin-left:10px;border-radius: 5px;}
.currentBtn .current{background-color:#4886c1;cursor: pointer;}

.scroll-top{width:150px;margin:20px 0 0 300px;}
.up-btn,.down-btn{width:150px;display:block;height:30px;background: url('../images/scroll-btn.jpg') no-repeat;text-indent: -999999px;cursor: pointer;}
.up-btn{background-position: 0 -30px;}
.up-btn:hover{background-position: 0 0;}
.down-btn{background-position: 0 -60px;margin-top:10px;}
.down-btn:hover{background-position: 0 -90px;}
.scroll-top-main{height:535px;overflow:hidden;}
.scroll-top-ul li{margin-top:10px;text-align: center;}