.scroll-wrap{
	margin:20px auto;
	width:485px;
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none; 
}
.scroll-title{
	padding-left:57px;
	height: 41px;
	background:url('../images/s-title.png') no-repeat;
	color:#f00;
	font-size: 18px;
	font-family: '微软雅黑';
	line-height: 45px;
}
.scroll-box{
	height:280px;
}
.scroll-box-left{
	position: relative;
	float:left;
	overflow: hidden;
	margin-top: 15px;
	width:460px;
	height: 270px; 
}
.scroll-ul{	
	position: absolute;	  
}
.scroll-li{
	float:left;
	margin:0 0 15px 10px;
	padding:0 10px;
	width:193px;
	background:url('../images/s-bg.png') no-repeat;
	line-height: 30px;
}
.scroll-li a{
	color:#fff;
}
.scroll-li a:hover{
	color:#f00;
}
.scroll-box-right{
	float:left;
	margin-top: 4px;
	width:11px;
}
.scroll-top-btn,.scroll-down-btn{
	display:block;
	margin:10px 0;
	width:11px;
	height:7px;
	text-indent: -999999px;
	cursor: pointer;
}
.scroll-top-btn{
	background: url('../images/s-top.png') no-repeat;
}
.scroll-down-btn{
	background: url('../images/s-down.png') no-repeat;
}
.scroll-por{
    position: relative;
	height:225px;
	background-color: #ccc;
}
.scroll-por-btn{
	position: absolute;
	display: block;
	width: 11px;
	height:25px;	
	border-radius: 5px;
	background-color: #8f8f8f;
	text-indent: -999999px;
	cursor: pointer;
}